@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiAccordionSummary-content{
    max-height: 32px !important;
    margin: 0!important;
}

.MuiAccordionSummary-gutters{
    max-height: 32px!important;
    margin: 0!important;
}

@layer base{
    body {
        @apply dark:bg-black bg-white transition-colors duration-300
    }
}